<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Alec's </span
    ><span class="main-header__title--orange">Shop</span>
  </h1>
  <nav class="main-header__menu">
    <ul>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/cart">
          <fa-icon [icon]="faCartShopping"></fa-icon>
          Cart
          <span class="badge-carrinho">{{cartService.getCart().length}}</span>
        </a>
      </li>
    </ul>
    <ul>
      <li><a routerLink="/contact">Contact</a></li>
      <li>
        <a><fa-icon [icon]="brands.faFacebookSquare"></fa-icon></a>
      </li>
      <li>
        <a><fa-icon [icon]="brands.faInstagramSquare"></fa-icon></a>
      </li>
      <li>
        <a><fa-icon [icon]="brands.faTwitterSquare"></fa-icon></a>
      </li>
      <li>
        <a><fa-icon [icon]="brands.faLinkedinIn"></fa-icon></a>
      </li>
    </ul>
  </nav>
  <app-search></app-search>
</header>
