<header class="main-header">
  <h1 class="main-header__title">
    <span class="main-header__title--blue">Alec's </span
    ><span class="main-header__title--orange">Shop</span>
  </h1>
  <nav class="main-header__menu">
    <ul>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/cart">
          <i class="fa-solid fa-cart-shopping"></i>
          Cart
          <span class="badge-carrinho">{{cartService.getCart().length}}</span>
        </a>
      </li>
    </ul>
    <ul>
      <li><a routerLink="/contact">Contact</a></li>
      <li>
        <a><i class="fa-brands fa-facebook-f"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-square-instagram"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-square-twitter"></i></a>
      </li>
      <li>
        <a><i class="fa-brands fa-linkedin-in"></i></a>
      </li>
    </ul>
  </nav>
  <app-search></app-search>
</header>
